# Documentation: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Interactive guide/builder: http://clangformat.com/

BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
IndentCaseLabels: true
UseTab: Never
BreakBeforeBraces: Allman
CompactNamespaces: false
AllowShortFunctionsOnASingleLine: false
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
